{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap3 %}
<br>
<br>
<div class="container">

  <div class="card-columns">

    <div class="card border-secondary">
      <img class="card-img-top" class="img-responsive" style="height: 10px; width: 20px;" src="{{images.gallery_image_url|default_if_none:'#'}}" data-target="#extraModal{{image.id}}" data-toggle="modal" >
    </div>
    <div class="card-body">
      <p>About: {{images.description}}</p>
      <p>Location: {{images.address}}</p>
      <p> Category: {{ images.category }} </p>
    </div>

  </div>

</div>
{% endblock %}
