{%extends 'base.html'%}
{% block content %}
<br>
<div class="container" style ="background-image: url('/static/css/img/anchor-lee-kO1G3neRA2o-unsplash.jpg');font-family:'Josefin Sans', sans-serif;">
  <div class="row">
    {% if category%}
    <h2 class="capitalize" >{{ category|length }} {{message}} images found...</h2>
    {% else %}
    <h2> No images found {{message}}</h2>
    {% endif %}
  </div>
  <hr>
  <div class="row">
    <div class="container">
      {% for category in category %}
      <div class="card border-secondary">
        <div class="card-header"><h4>{{category.name}}</h4></div>
        <img class="card-img-top" class="img-responsive" style="height: 100px; width: 200px;" src="{{category.gallery_image_url|default_if_none:'#'}}">
      </div>
      {%endfor%}
    </div>
</div>
{% endblock %}
