{%extends 'base.html'%}
{% block content %}
<br>
<div class="container">
  <div class="row">
    {% if category%}
    <h2 class="capitalize">{{ category|length }} {{message}} images found...</h2>
    {% else %}
    <h2> No images found {{message}}</h2>
    {% endif %}
  </div>
  <hr>
  <div class="row">
    <div class="container">
      {% for category in category %}
      <div class="card border-secondary">
        <div class="card-header"><h4>{{category.name}}</h4></div>
        <img class="card-img-top" class="img-responsive" src="{{category.gallery_image_url|default_if_none:'#'}}" size="100px200">
      </div>
      {%endfor%}
    </div>
</div>
{% endblock %}
